/* the reset selector*/
*{margin:0; padding: 0;}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
    border: 3px solid #080808;
    background-color: #A9A9A9;
}
a:focus, a:hover {font-style: italic; color:green;}

/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #A9A9A9;
		background-image: -moz-linear-gradient(
	    30deg, #A9A9A9 0%,#A9A9A9 30%, white 50%, #A9A9A9 80%, #A9A9A9 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #A9A9A9 0%,#A9A9A9 30%, white 50%, #A9A9A9 80%, #A9A9A9 100%);
	background-image: -o-linear-gradient(
	    30deg,#A9A9A9 0%, #A9A9A9 30%, white 50%, #A9A9A9 80%, #A9A9A9 100%);
	background-image: linear-gradient(
	    30deg,#A9A9A9 0%, #A9A9A9 30%, white 50%, #A9A9A9 80%, #A9A9A9 100%);
}
header,footer,article,section,nav,figure{
/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}
header{
	border-bottom: 6px solid black;
}
 header h1{
	/* The logo text */
	font-size:2em;
	padding-right:2px;
	text-transform:uppercase;
}
header h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;	
}
header img {float: left;  border:1px solid black;}

/*article*/




.thumbnail:hover{position:relative;
top:-5px;
left:-10px;
right:-2px;
width:auto;
height:auto;
display:block;
z-index:999;}

.container{
display:grid;
grid-template-columns:  3fr 4fr 3fr;
}
nav{background:#696969; }
main{background:#d1d1d1;}
#sidebar{background:#e7d4c7;}

.logo
{
border: 5px solid black;
padding: 5px;
border-radius: 4px;


}
.logo:hover{
box-shadow: 0 0 2px 1px rgb(255,199,227) ;
color:#ff8ac4;
top:-5px;
left:-10px;
right:-2px;
width:200px;
height:auto;
display:block;
z-index:999;
}
figure { 
float: left; 
margin-right: 1.5em;
padding-bottom:1em; 
padding-top:0.5em}
 
figcaption { 
display: block; 
font-weight: bold; 
padding-top: .25em; 
margin-bottom: lem; 
border-bottom: 3px solid white; }

 article figcaption  { 
display: block; 
font-weight: bold; 
padding-top: .25em; 
margin-bottom: lem; 
 border-bottom: 1pxsolid olive;}
 
 #sidebar h2{font-size: 120%;
	padding-bottom:.5;}
   

/* the styles for the footer */
footer {
	background-color: black;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}